<h1 class="title-home">{{ "app.shared.experience" | translate }}</h1>
<div class="experience-container">
  <div class="card" id="card-A">
    <div class="card-head card-head-A">
      <span class="title-first">consectetur adipiscing elit</span>
    </div>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
      Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a,
    </div>
  </div>
  <div class="card" id="card-B">
    <div class="card-head card-head-B">
      <span class="title-second">consectetur adipiscing elit</span>
    </div>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
      Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a,
    </div>
  </div>
</div>

<div class="experience-container">
  <div class="card" id="card-C">
    <div class="card-head card-head-C"><span class="title-third">consectetur adipiscing elit</span></div>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
      Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a,
    </div>
  </div>
  <div class="card" id="card-D">
    <div class="card-head card-head-D"><span class="title-fourth">consectetur adipiscing elit</span></div>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
      Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a,
    </div>
  </div>
</div>
