<h1 class="title-home">{{ "app.shared.experience" | translate }}</h1>
<div class="experience-container">
  <div class="card" id="card-A">
    <div class="card-head card-head-A">
      <span class="title-first">consectetur adipiscing elit</span>
    </div>
    <div class="card-body">
      <pre>{{'app.shared.firstexperience' | translate}}</pre>
    </div>
  </div>
  <div class="card" id="card-B">
    <div class="card-head card-head-B">
      <span class="title-second">consectetur adipiscing elit</span>
    </div>
    <div class="card-body">
      <pre>{{'app.shared.secondexperience' | translate}}</pre>
    </div>
  </div>
</div>

<div class="experience-container">
  <div class="card" id="card-C">
    <div class="card-head card-head-C"><span class="title-third">consectetur adipiscing elit</span></div>
    <div class="card-body">
      <pre>{{'app.shared.thirdexperience' | translate}}</pre>
    </div>
  </div>
  <div class="card" id="card-D">
    <div class="card-head card-head-D"><span class="title-fourth">consectetur adipiscing elit</span></div>
    <div class="card-body">
      <pre>{{'app.shared.fourthexperience' | translate}}</pre>
    </div>
  </div>
</div>
