<div class="sidenav" [ngClass]="isCollapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">A</button>
        <div class="logo-text" *ngIf="isCollapsed">Angular</div>
        <button class="btn-close" *ngIf="isCollapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="side-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routerLink]">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sindenav-link-text" *ngIf="isCollapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>